services:

  php:
    image: php:8.2-apache
    container_name: php-app
    volumes:
      - ./php:/var/www/html
    ports:
      - "8080:80"
    depends_on:
      - mysql
    networks:
      - php-net

  mysql:
    image: mysql:8
    container_name: mysql-db
    env_file:
      - .env
    volumes:
      - mysql-data:/var/lib/mysql
    ports:
      - "3306:3306"
    networks:
      - php-net

  phpmyadmin:
    image: phpmyadmin/phpmyadmin
    container_name: phpmyadmin
    ports:
      - "9090:80"
    environment:
      PMA_HOST: mysql
      PMA_USER: ${MYSQL_ROOT_USER:-root}
      PMA_PASSWORD: ${MYSQL_ROOT_PASSWORD:-root}
    depends_on:
      - mysql
    networks:
      - php-net

volumes:
  mysql-data: 

networks:
  php-net:
