.container{ 
    background-color: rgb(214, 214, 214);
    color :   black; 
    border : 2px solid dashed ;
    border-radius:  50%;
    width: 80%;
    margin : auto ; 
    height:  100%;
    text-align: center;
    padding : 50px;
    justify-content:center;

}